* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --font-size-text: 20px;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --font-size-nav: 90px;
}


body {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    font: var(--font-size-text) helvetica, helvetica-neue, arial, sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

figure {
    display: block;
    margin: 0 0 20px;
    line-height: 100vh;
}

img, video, iframe {
    display: inline-block;
    vertical-align: middle;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto 5px;
}

/**
 * Text shadow (better result than -webkit-outline, which also works in Gecko).
 */
.text-shadow {
    color: #fff;
    text-shadow:  0     -1px   0 var(--shadow-color),  /* t */
                  1.5px -1px   0 var(--shadow-color),  /* tr */
                  1.5px  0     0 var(--shadow-color),  /* r */
                  1.5px  1.5px 0 var(--shadow-color),  /* br */
                  0      1.5px 0 var(--shadow-color),  /* b */
                 -1px    1.5px 0 var(--shadow-color),  /* bl */
                 -1px    0     0 var(--shadow-color),  /* l */
                 -1px   -1px   0 var(--shadow-color);  /* tl */
}

#caption {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100vw;
    text-align: center;
}
    #caption-content {
        background: rgba(0, 0, 0, 0.3);
        background-clip: padding-box;
        padding: 0.35em 1em 0.2em;
        display: inline-block;
        border-radius: 0 0 0.4em 0.4em;
        border: 2px solid rgba(0, 0, 0, 0.6);
    }


#position {
    margin-right: 5px;
}

#current, #max {
    color: #ccc;
    padding: 0 0.2em;
}

.nav {
    width: 10vw;
    max-width: 80px;
    position: absolute;
    top: 0;
    height: 100vh;
    line-height: 100vh;
    font-size: var(--font-size-nav);
    cursor: pointer;
    opacity: 0;
    transition: all 0.1s;
    user-select: none;
    -moz-user-select: none;
}

.nav:hover {
    opacity: 1;
}

.nav.disabled {
    pointer-events: none;
    opacity: 0 !important;
}


#prev {
    left: 0;
    text-align: left;
    padding-right: 0.3em;
}

#next {
    right: 0;
    text-align: right;
    padding-left: 0.3em;
}

#slides.animate figure {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#slides figure img,
#slides figure video,
#slides figure iframe {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#slides figure {
    transform-origin: center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
}

/**
 * Positioning
 */
#slides figure:nth-child(1),
#slides.left figure:nth-child(2) {
    transform: translateX(-100vw);
    opacity: 0.5;
}

#slides figure:nth-child(2),
#slides.right figure:nth-child(1),
#slides.left figure:nth-child(3) {
    transform: translateX(0);
    opacity: 1;
}

#slides figure:nth-child(3),
#slides.right figure:nth-child(2) {
    transform: translateX(100vw);
    opacity: 0.5;
}
